[project]
	description = PlayWithiOS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mukesh Sharma (iMuks)
[access "refs/for/refs/*"]
	read = group user/Mukesh Sharma (iMuks)
	push = group user/Mukesh Sharma (iMuks)
	label-Code-Review = -2..+2 group user/Mukesh Sharma (iMuks)
	label-Verified = -1..+1 group user/Mukesh Sharma (iMuks)
	rebase = group user/Mukesh Sharma (iMuks)
	removeReviewer = group user/Mukesh Sharma (iMuks)
	submit = group user/Mukesh Sharma (iMuks)
[access "refs/heads/*"]
	read = group user/Mukesh Sharma (iMuks)
	create = group user/Mukesh Sharma (iMuks)
	push = +force group user/Mukesh Sharma (iMuks)
	pushMerge = group user/Mukesh Sharma (iMuks)
[access "refs/tags/*"]
	push = +force group user/Mukesh Sharma (iMuks)
	pushTag = group user/Mukesh Sharma (iMuks)
	pushSignedTag = group user/Mukesh Sharma (iMuks)
